{% extends 'layout/app.twig' %}
{% block title %} Example index{% endblock %}

{% block body %}<br><br>
    <div class="container">

        <H1>Example Index</H1>


{{ test.view.path }}
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>Name</th>
                            <th>Rolle</th>
                            <th>Optionen</th>
                        </tr>
                    </thead>
                {% for name in names %}
                    <tr>
                        <td>{{ name.name }}</td>
                        <td>{{ name.rolle }}</td>
                    </tr>
                {% endfor %}

                </table>




    </div>

{% endblock %}
