{% extends 'layout/app.twig' %}
{% block title %} Create Role{% endblock %}

{% block body %}<br><br>
    <div class="container">

        <H1>Create Role</H1>




        <table class="table">

            <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Power</th>
                <th>Options</th>
            </tr>
            </thead>
            <tr>
                <form method="POST" autocomplete="off">
                    <td><input class="form-control" name='name' placeholder="Name" autocomplete="off"></td>
                    <td><input class="form-control" name="power" type="number" autocomplete="off"></td>
                    <td><button type="submit" class="btn btn-success"  formaction="{{ url_for('role.store')}}">Create</button>                  </td>
                </form>
            </tr>

        </table>

        <a class="btn btn-primary" href="{{ url_for('role.index') }}">Back</a>
    </div>

{% endblock %}